html {
    height: 100%;
}

body {
    background-color: #1f1f1f;
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    width: fit-content;
}

.square {
    width: 64px;
    height: 64px;
}

.row:nth-child(even) .square:nth-child(odd) {
    background-color: black;
}

.row:nth-child(even) .square:nth-child(even) {
    background-color: white;
}

.row:nth-child(odd) .square:nth-child(odd) {
    background-color: white;
}

.row:nth-child(odd) .square:nth-child(even) {
    background-color: black;
}

#ranks {
    display: flex;
    flex-direction: column;
}

#files {
    margin: 10px 0px 0px 64px;
}

#ranks p,
#files p {
    width: 64px;
    height: 64px;
    margin: 0;
    user-select: none;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-family: Arial, Helvetica, sans-serif;
}

#chessboard {
    position: relative;
}

#chessboard img {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 0px 2px white);
    user-select: none;
    position: absolute;
}

.selected {
    background-color: gray;
}

.white-pawn-promotions,
.black-pawn-promotions {
    width: 64px;
    height: 256px;
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    z-index: 1;
}

.white-pawn-promotions img,
.black-pawn-promotions img {
    position: relative !important;
    cursor: pointer;
}